# SPDX-FileCopyrightText: 2019 The usbmon-tools Authors
#
# SPDX-License-Identifier: Apache-2.0

*.egg-info/
*.pyc
*.so
*~
.cache
.ipynb_checkpoints/
.mypy_cache/
.vscode/
/MANIFEST
/dist/
/usbmon/linux/linux.c
/venv/
__pycache__/
build
