dist: xenial

language: python

matrix:
  include:
    - python: 3.7
    - python: 3.8
      env: PRE_COMMIT=true PYTEST_OPTIONS="--mypy --flake8"
    - python: 3.9-dev

install:
  - pip install .[dev]

script:
  - pytest -vvv $PYTEST_OPTIONS
  - if [[ $PRE_COMMIT ]]; then pre-commit install; pre-commit run --all-files; fi
